Pods/
.DS_Store
Dress Preview/.DS_Store
Dress Preview.xcodeproj/project.xcworkspace/xcuserdata/gerald.xcuserdatad/UserInterfaceState.xcusxerstate
build/
Dress Preview.xcodeproj/project.xcworkspace/xcuserdata/kingkung.xcuserdatad/UserInterfaceState.xcuserstate
Dress Preview.xcodeproj/xcuserdata/kingkung.xcuserdatad/xcschemes/xcschememanagement.plist

